<form method="post" action="{{ path('app_caracteristiques_vehicules_delete', {'id': caracteristiques_vehicule.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ caracteristiques_vehicule.id) }}">
    <button class="btn">Delete</button>
</form>
