{% extends 'base.html.twig' %}

{% block title %}Edit CaracteristiquesVehicules{% endblock %}

{% block body %}
    <h1>Edit CaracteristiquesVehicules</h1>

    {{ include('caracteristiques_vehicules/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_caracteristiques_vehicules_index') }}">back to list</a>

    {{ include('caracteristiques_vehicules/_delete_form.html.twig') }}
{% endblock %}
