{% extends 'base.html.twig' %}

{% block title %}CaracteristiquesVehicules index
{% endblock %}

{% block body %}
	<h1>CaracteristiquesVehicules index</h1>

	<table class="table table-striped">

		<thead>
			<tr>
				<th>Id</th>
				<th>NombrePortes</th>
				<th>Energie</th>
				<th>BoiteVitesse</th>
				<th>Modele</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for caracteristiques_vehicule in caracteristiques_vehicules %}
				<tr>
					<td>{{ caracteristiques_vehicule.id }}</td>
					<td>{{ caracteristiques_vehicule.nombrePortes }}</td>
					<td>{{ caracteristiques_vehicule.energie }}</td>
					<td>{{ caracteristiques_vehicule.boiteVitesse }}</td>
					<td>{{ caracteristiques_vehicule.modele }}</td>
					<td>
						<a href="{{ path('app_caracteristiques_vehicules_show', {'id': caracteristiques_vehicule.id}) }}">show</a>
						<a href="{{ path('app_caracteristiques_vehicules_edit', {'id': caracteristiques_vehicule.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_caracteristiques_vehicules_new') }}">Create new</a>
{% endblock %}
