{% extends 'base.html.twig' %}

{% block title %}New CaracteristiquesVehicules{% endblock %}

{% block body %}
    <h1>Create new CaracteristiquesVehicules</h1>

    {{ include('caracteristiques_vehicules/_form.html.twig') }}

    <a href="{{ path('app_caracteristiques_vehicules_index') }}">back to list</a>
{% endblock %}
