{% extends 'base.html.twig' %}

{% block title %}CaracteristiquesVehicules{% endblock %}

{% block body %}
    <h1>CaracteristiquesVehicules</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ caracteristiques_vehicule.id }}</td>
            </tr>
            <tr>
                <th>NombrePortes</th>
                <td>{{ caracteristiques_vehicule.nombrePortes }}</td>
            </tr>
            <tr>
                <th>Energie</th>
                <td>{{ caracteristiques_vehicule.energie }}</td>
            </tr>
            <tr>
                <th>BoiteVitesse</th>
                <td>{{ caracteristiques_vehicule.boiteVitesse }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ caracteristiques_vehicule.modele }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_caracteristiques_vehicules_index') }}">back to list</a>

    <a href="{{ path('app_caracteristiques_vehicules_edit', {'id': caracteristiques_vehicule.id}) }}">edit</a>

    {{ include('caracteristiques_vehicules/_delete_form.html.twig') }}
{% endblock %}
