{% extends 'layout.html.twig' %}

{% block title %}Edit Car{% endblock %}

{% block body %}
    {{parent()}}
<div class="container">

    <h1>Edit Car</h1>

    {{ include('car/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_car_index') }}">back to list</a>

    {{ include('car/_delete_form.html.twig') }}
    </div>
{% endblock %}
