{% extends 'layout.html.twig' %}

{% block title %}Car index{% endblock %}

{% block body %}
{{parent()}}
<div class="container">

    <h1>Liste vehicules</h1>

<table class="table table-striped table-datatable">


        <thead>
            <tr>
                <th>Id</th>
                <th>NumeroImmatriculation</th>
                <th>ImmatriculationDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.numeroImmatriculation }}</td>
                <td>{{ car.immatriculationDate ? car.immatriculationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_car_show', {'id': car.id}) }}">show</a>
                    <a href="{{ path('app_car_edit', {'id': car.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_car_new') }}">Create new</a>
<div class="container">


{% endblock %}
