{% extends 'layout.html.twig' %}

{% block title %}New Car{% endblock %}

{% block body %}
    {{parent()}}
    <div class="container">
<h1>Create new Car</h1>

{{ include('car/_form.html.twig') }}

<a href="{{ path('app_car_index') }}">back to list</a>

    </div>
{% endblock %}
