{% extends 'layout.html.twig' %}

{% block title %}Car{% endblock %}

{% block body %}
    {{parent()}}
    <h1>Car</h1>
    <div class="container">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ car.id }}</td>
            </tr>
            <tr>
                <th>NumeroImmatriculation</th>
                <td>{{ car.numeroImmatriculation }}</td>
            </tr>
            <tr>
                <th>ImmatriculationDate</th>
                <td>{{ car.immatriculationDate ? car.immatriculationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_car_index') }}">back to list</a>

    <a href="{{ path('app_car_edit', {'id': car.id}) }}">edit</a>

    {{ include('car/_delete_form.html.twig') }}
</div>

{% endblock %}
