{% extends 'base.html.twig' %}

{% block title %}Proprietaire index
{% endblock %}

{% block body %}
	<h1>Proprietaire index</h1>

	<table class="table table-striped">

		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Prenom</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for proprietaire in proprietaires %}
				<tr>
					<td>{{ proprietaire.id }}</td>
					<td>{{ proprietaire.nom }}</td>
					<td>{{ proprietaire.prenom }}</td>
					<td>
						<a href="{{ path('app_proprietaire_show', {'id': proprietaire.id}) }}">show</a>
						<a href="{{ path('app_proprietaire_edit', {'id': proprietaire.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_proprietaire_new') }}">Create new</a>
{% endblock %}
