{% extends 'base.html.twig' %}

{% block title %}Proprietaire{% endblock %}

{% block body %}
    <h1>Proprietaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ proprietaire.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ proprietaire.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ proprietaire.prenom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_proprietaire_index') }}">back to list</a>

    <a href="{{ path('app_proprietaire_edit', {'id': proprietaire.id}) }}">edit</a>

    {{ include('proprietaire/_delete_form.html.twig') }}
{% endblock %}
